- require_relative 'data.rb'
!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "httpequiv" => "Content-Type"}/
    %title Stuart Olivera Resume
    %link{href: "stylesheets/main.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Lato:300,400,700|Arvo:400,700", rel: "stylesheet", type: "text/css"}/
    :javascript
      if (navigator.appVersion.indexOf("Chrome/") != -1) {
        document.write('<style type="text/css" media="print">header { margin-top: -20px }</style>');
      }
    :javascript
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-217490-C');
  %body
    #resume
      %header
        .block.half
          %h1 Stuart Olivera
          %h2.tagline full-stack &amp; user experience engineer
        .block.half.right
          %ul.links
            %li
              %a{href: "https://github.com/sman591"} github.com/sman591
            %li
              %a{href: "https://www.linkedin.com/in/stuartolivera"} linkedin.com/in/stuartolivera
            %li
              %a{href: "https://stuartolivera.com"} stuartolivera.com

      %section#education
        %h2
          %i.fa.fa-fw.fa-graduation-cap
          Education
        %article
          %h3
            Rochester Institute of Technology
            %span.title B.S. Computer Science
            %span.timeline Fall 2014 - Spring 2019
      %section#experience
        %h2
          %i.fa.fa-fw.fa-suitcase
          Experience
        - EXPERIENCE.each do |exp|
          %article
            %h3
              = exp['company']
              %span.title= exp['title']
              %span.source
                %a{href: url(exp)}= exp['website']
              %span.timeline= exp['timeline']
            %ul.split-2
              - exp['bullets'].each do |bullet|
                %li= bullet
      %section#projects
        %h2
          %i.fa.fa-fw.fa-rocket
          Projects
        - PROJECTS.each do |proj|
          %article
            %h3
              = proj['name']
              %span.title= proj['title']
              %span.source
                %a{href: url(proj)}= proj['website']
              %span.timeline= proj['timeline']
            %ul.split-2
              - proj['bullets'].each do |bullet|
                %li= bullet
        %article
          %h3
            Open Source:
            %span.source
              %a{href: "https://github.com/sman591"} github.com/sman591

      %section#skills
        %h2
          %i.fa.fa-fw.fa-tasks
          Skills
        %article
          %ul.levels
            %li
              %ul
                %li.level-4 Ruby on Rails
                %li.level-4 React
                %li.level-4 HTML/CSS
                %li.level-3 Git

          %ul.levels
            %li
              %ul
                %li.level-3 jQuery
                %li.level-3 Node.js
                %li.level-2 Swift
                %li.level-2 MySQL
                %li.level-2 Java
                %li.level-1 Python
                %li.level-1 MongoDB
                %li.level-1 C

      %section.half#activities
        %h2
          %i.fa.fa-fw.fa-gamepad
          Activities
        %ul
          %li Member of Computer Science House, codeRIT, Women in Computing, and RIT Pep Band
          %li Recreational skier &amp; snowboarder
          %li Avid audiophile

      %section.half#achievements
        %h2
          %i.fa.fa-fw.fa-trophy
          Achievements
        %ul
          %li 2-year director of RIT's annual hackathon, BrickHack
          %li Technical director &amp; head sound engineer for numerous events and theater productions
          %li Recipient of the 2014 Stone Bridge High School Computer Science Scholarship
    #source-link
      built with HTML & CSS
      &nbsp;
      %i.fa.fa-github
      &nbsp;
      %a{href: "https://github.com/sman591/resume"} github.com/sman591/resume
    #download
      %a{href: "Stuart%20Olivera%20Resume.pdf", title: "Download PDF version"}
        %i.fa.fa-fw.fa-file-pdf-o
